/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Styles du menu */
nav {
    background-color: #333;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu > li {
    position: relative;
    display: inline-block; /* Permet d'afficher les éléments en ligne */
}

.menu > li > a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.menu > li:hover > a {
    background-color: #555; /* Changer la couleur au survol */
}

/* Styles du sous-menu */
.submenu {
    display: none; /* Masquer le sous-menu par défaut */
    position: absolute; /* Positionner le sous-menu par rapport au menu parent */
    top: 100%; /* Afficher en dessous du parent */
    left: 0;
    background-color: #444; /* Couleur de fond du sous-menu */
    padding: 0;
    list-style: none;
}

.submenu li {
    display: block; /* Afficher les éléments du sous-menu en bloc */
}

.submenu li a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.menu > li:hover .submenu {
    display: block; /* Afficher le sous-menu au survol du parent */
}
